Liste des tournois ATP de l'année


<ul>
    <% @tournaments.each do |tournament| %>
    <li>
    <h4><%= link_to "#{tournament.name}", tournament_path(tournament) %></h4>
    <%= tournament.id %>
  </li>
  <% end %>
</ul>


