<h1><%= @tournament.name %></h1>
<h3><%= @tournament.id %></h3>

Tableau :

<% @tournament.rounds.each do|round| %>
<h3><%= round.name %></h3>
<% end %>






<%= link_to "retourner au calendrier", tournaments_path %>
